.App {
  width: 100%;
  overflow-x: hidden;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #E5CAB1;
}

::-webkit-scrollbar-thumb {
  background: #7EA400;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #689406;
}
