.howto {
  width: 100%;
  overflow: hidden;
}

/* ---------- POUCH ---------- */
.howto-pouch img {
  width: 100%;
  display: block;
}

/* ---------- IMAGE ROW ---------- */
.howto-images {
  position: relative;
  display: flex;
  gap: 0rem;
  width: 100%;
}

.howto-img {
  width: 50%;
  height: 360px;
  object-fit: cover;
  
}

/* ---------- FLOATING CARD ---------- */
.howto-card {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 520px;
  height: 420px; /* stays same size */
  background: rgba(255, 255, 255, 0.433); /* low opacity */
  backdrop-filter: blur(8px);
  color: black;

  padding: 1.5rem 2rem;
  border-radius: 22px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.18);
  text-align: center;
}

.howto-card h3 {
  margin-bottom: 1rem;
  font-family: paytone one, sans-serif; font-size: 28px;
}

.howto-card ul {
  padding-left: 1rem;
}

.howto-card li {
  margin-bottom: 0.4rem;
}

/* ---------- MENU SECTION ---------- */
.howto-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  min-height: 420px;
  background-color: rgb(107, 149, 2);
}

.menu-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-text {
  padding: 3rem;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  
}

.menu-text h2 {
  margin-bottom: 1.5rem;
  color: rgb(230, 73, 141);
  font-size: 80px;
  font-family: 'paytone one', sans-serif;
}

.menu-text ol {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  font-family: 'poppins', sans-serif;
}
