.howto {
  width: 100%;
  overflow: hidden;
}

/* ---------- POUCH ---------- */
.howto-pouch img {
  width: 100%;
  display: block;
}

/* ---------- IMAGE ROW ---------- */
.howto-images {
  position: relative;
  display: flex;
  gap: 0rem;
  width: 100%;
  
}

.howto-img {
  width: 50%;
  height: 560px;
  object-fit: cover;
  
}

/* ---------- FLOATING CARD ---------- */
/* ---------- FLOATING CARD ---------- */

/* ---------- FLOATING CARD ---------- */

.howto-card {
  position: absolute;
  top: -35%;          /* anchor high but inside container */
  left: 12%;
  transform: translateY(-50%);

  width: 680px;      /* bigger width */
  padding: 4rem; 
  height: 720px;    /* more breathing space */

  background: rgba(241, 236, 189, 0.703);  /* reduced opacity */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);

  border-radius: 72px;
  box-shadow: 
  0 20px 760px rgba(0, 0, 0, 0.18),
  0 10px 425px rgba(0, 0, 0, 0.12);
  text-align: left;
}

.howto-card h3 {
  margin-bottom: 1rem;
  font-family: paytone one, sans-serif; font-size: 88px;
  color: #5f8807;
  margin-left: 20px;
}
.howto-card h2 {
  
  font-family: poppins, sans-serif; font-size: 30px;
  margin-bottom: 10px;
  color: #293b029a;
}

.howto-card ul {
  padding-left: 1rem;
  font-size: 30px;
  color: #293b029a;
  margin-left: 20px;
}

.howto-card li {
  margin-bottom: 0.4rem;
}

/* ---------- MENU SECTION ---------- */
.howto-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  min-height: 420px;
  background-color: #5f8807;
}

.menu-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-text {
  padding: 3rem;
  display: flex;
  font-size: 30px;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  
}

.menu-text h2 {
  margin-bottom: 1.5rem;
  color: rgb(230, 73, 141);
  font-size: 80px;
  font-family: 'paytone one', sans-serif;
}

.menu-text ol {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
  font-family: 'poppins', sans-serif;
}
